/* header title font */
.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}


/* background color of header (logo part) */
.skin-blue .main-header .logo {
          background-color: white;
          color: black;
        }
        
/* change the background color of header (logo part) when mouse hover */
.skin-blue .main-header .logo:hover {
          background-color: white;
        }

/* background color for remaining part of the header */
.skin-blue .main-header .navbar {
                              background-color: white;
                              } 
                              
/* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: white;
                              }

/* active sidebar menu item */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: white;
                              color:black;
                              }

/* sidebar menuitems */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: white;
                              color: black;
                              }
                              
/* sidebar toggle button */           
.skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: white;
                              }


/* sidebar line */                              
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  border-left-color: white;
}